body {
  margin: 0;
  padding: 0;
  background-color: #FFE5B4;
  color: #B4CEFF;
  font-family: Georgia, serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

nav {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 10px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

.profile-picture {
  display: flex;
  justify-content: center;
}

.profile-picture img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bio {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 24px;
  height: 24px;
  filter: invert(92%) sepia(11%) saturate(7305%) hue-rotate(183deg) brightness(101%) contrast(105%);
}

